.post__content {
  padding-bottom: 10px;

  h2,h3,h4 {
    color: #5a6788;;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 0 0 18px;
    @include breakpoint(sm) {
      font-size: 20px;
      line-height: 27px;
      margin: 0 0 16px;
    }

    .dark-theme & {
      color: $white;
    }
  }

  &Item {
    padding-bottom: 15px;
    padding-top: 24px;
    @include breakpoint(sm) {
      padding-top: 29px;
    }
    @include breakpoint(md) {
      padding-bottom: 13px;
      padding-top: 33px;
    }
    @include breakpoint(lg) {
      padding-bottom: 8px;
      padding-top: 37px;
    }
  }

  &Text {
    color: $defaultColor;
    font-size: 14px;
    line-height: 21px;
    @include breakpoint(sm) {
      img {
        margin-top: 28px;
      }
    }
    @include breakpoint(md) {
      font-size: 16px;
      line-height: 26px;

      img {
        margin-bottom: 15px;
        margin-top: 32px;
      }
    }
    @include breakpoint(xl) {
      img {
        margin-top: 34px;
      }
    }

    .dark-theme & {
      color: $darkWhite;
    }

    p {
      margin-bottom: 14px;
    }

    a {
      color: $blue;
      text-decoration: none;

      .dark-theme & {
        color: #87a4f2;
      }
    }

    img {
      margin-bottom: 14px;
      margin-top: 24px;
    }
  }

  code {
    background: $light;
    color: $blueGrayLight;
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 26px;
    margin-top: 14px;
    position: relative;
    transition: all 0.5s ease;
    @include breakpoint(sm) {
      margin-bottom: 25px;
      margin-top: 15px;
    }
    @include breakpoint(md) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 24px;
      margin-top: 11px;
    }

    .dark-theme & {
      background: $dark;
      color: #a0aac6;
    }


      padding: 20px 15px;
      @include breakpoint(sm) {
        padding: 27px 18px 29px;
      }
      @include breakpoint(md) {
        padding: 27px 33px 28px;
      }


    code {
      font-family: $default;
    }
    &:after{
      content: 'double click to copy';
      display: block;
      position: absolute;
      color:$gray ;
      top: 5px;
      right: 10px;
      padding: 5px;
      font-size: 12px;
      border-radius: 10px;
      background: #e9f1f9;
      opacity: 0.5;
    }
  }

  .ps--active-x {
    code {
      padding: 0 55px 0 0;
      @include breakpoint(sm) {
        padding: 0 65px 0 0;
      }
    }
  }

  .ps__rail-x {
    height: 2px;
    opacity: 1;
  }

  .ps__thumb-x {
    background-color: #bcdaf9;
    bottom: 0;
    height: 2px;

    .dark-theme & {
      background-color: #a0aac6;
    }
  }

  .ps:hover > .ps__rail-x,
  .ps--focus > .ps__rail-x,
  .ps--scrolling-x > .ps__rail-x {
    opacity: 1;
  }

  .ps--active-x > .ps__rail-x {
    background-color: #e5f1fd;

    .dark-theme & {
      background-color: $black;
    }
  }

  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #bcdaf9;
    height: 2px;

    .dark-theme & {
      background-color: #a0aac6;
    }
  }
}

.post__contentCodeCopy {
  align-items: center;
  background: $blueLight;
  border: 0;
  border-radius: 10px;
  bottom: 10px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 10px;
  transition: all 0.5s ease;
  width: 40px;
  @include breakpoint(sm) {
    bottom: 14px;
    height: 50px;
    right: 15px;
    width: 50px;

    svg {
      height: 19px;
      width: 19px;
    }
  }

  .dark-theme & {
    background: $dark-2;
    box-shadow: 5px 5px 10px $darkMedium;
  }

  svg {
    fill: $blueGrayLight;
    height: 16px;
    transition: all 0.5s ease;
    width: 16px;
  }

  &:hover {
    background: $darkgrayHover;

    svg {
      fill: $white;
    }
  }
}