.selectItem {
  .select-dropdown {
    .dropdown-inner {
      overflow: hidden;
    }
  }
}

#root {
  height: 100%;
}

.error {
  color: $red;
}

.-invalid {
  input {
    border-color: $red;
  }
}

.whiteBack {
  background-color: $white;
  padding: 0 10px 19px;
  transition: all 0.5s ease;
  @include breakpoint(sm) {
    padding: 15px 0 17px;
  }

  .dark-theme & {
    background-color: $dark;
  }
}

.d-sm-flex {
  @include breakpoint(sm) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.-valid {
  input {
    border-color: $green;
  }
}

.slick-slider {
  .slick-dots {
    bottom: 20px;
    left: 0;
    line-height: 9px;
    position: absolute;
    width: 100%;
    z-index: 1;

    li {
      display: inline-block;
      margin: 0 6px;
      padding: 0;
      transition: all 0.3s ease;
      vertical-align: top;
    }

    button {
      background-color: $grayDark;
      border: 0;
      border-radius: 50%;
      box-shadow: none;
      cursor: pointer;
      font-size: 0;
      height: 9px;
      padding: 0;
      transition: all 0.3s ease;
      width: 9px;
    }  
  }
}

.slick-dots {
  .slick-active button {
    background-color: $blue;
  }
}
/* .ReactModal__Html--open,
.ReactModal__Body--open{
    overflow: hidden;
} */
.ReactModal__Body--open .ReactModalPortal {
  display: block;
}

.ReactModalPortal {
  display: none;
  z-index: 2000;
}

.ReactModal__Overlay {
  overflow: auto;
}

.ReactModal__Content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.ModalOverlay {
  background: rgba(255, 255, 255, 0.75);
  border: 0;
  cursor: default;
  height: 100%;
  left: 0%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: fixed;
  right: 0%;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 1500;

  .dark-theme & {
    background: rgba(34, 34, 38, 0.75);
  }
}

.ModalContent {
  background: $white;
  border-radius: 15px;
  box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.5), -16px -2px 56px $white;
  max-width: 600px;
  min-width: 300px;
  padding: 57px 20px 60px;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2000;

  .dark-theme & {
    background: #333335;
    box-shadow: 5px 5px 10px $darkMedium;
  }

  &__close {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 20px;

    svg {
      display: block;
      fill: #8592b6;

      .dark-theme & {
        fill: $white;
      }
    }
  }
}

.formBlock {
  &__content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 32px;
  }

  &__row {
    margin-bottom: 18px;
    padding: 0 5px 0 6px;
    width: 100%;
    @include breakpoint(sm) {
      width: 42%;

      &--textarea {
        width: 84%;
      }
    }

    &--textarea {
      padding-top: 10px;
    }

    &--btn {
      margin-bottom: 0;
      padding-top: 6px;
    }
  }

  .styledSelect {
    width: 100%;

    &__control {
      border-radius: 7px;
      min-height: 52px;

      .dark-theme & {
        border: 1px solid $blueGray;

        &:hover {
          border: 1px solid $blueGray;
        }
      }
    }

    &__placeholder {
      color: $titleColor;
      font-size: 14px;
      line-height: 16px;
      margin: 0;

      .dark-theme & {
        color: #a0aac6;
      }
    }

    &__value-container {
      padding: 0 0 0 20px;
      text-align: left;
    }

    &__single-value {
      color: $titleColor;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;

      .dark-theme & {
        color: $white;
      }
    }

    &__menu {
      color: $titleColor;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin: -4px 0 0;
      text-align: left;
    }

    &__option {
      color: $titleColor;
      padding: 18px 19px 16px;

      .dark-theme & {
        color: $white;
      }
    }
  }
}

.inputHolder {
  &__input {
    background-color: transparent;
    border: 1px solid $blueLight;
    border-radius: 7px;
    color: $titleColor;
    font-family: $secondary;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 16px;
    padding: 18px 19px 16px;
    transition: all 0.3s ease;
    width: 100%;

    .dark-theme & {
      background-color: $dark;
      border: 1px solid $blueGray;
      color: $white;

      &:focus {
        border: 1px solid $darkgrayHover;
      }
    }

    &::placeholder {
      color: $titleColor;
      opacity: 1;
      transition: all 0.3s ease;

      .dark-theme & {
        color: #a0aac6;
      }
    }

    &:focus::placeholder {
      opacity: 0;
    }

    &--textarea {
      height: 182px;
      resize: none;
    }
  }
}

.addNewAccess__btn {
  align-items: center;
  background-color: $white;
  border: 1px solid $light-2;
  border-radius: 30px;
  box-shadow: none;
  color: $titleColor;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 165px;

  &:disabled {
    cursor: default;
    opacity: 0.2;
  }

  .dark-theme & {
    background-color: $dark-2;
    border: 1px solid $blueGray;
    color: $white;
  }

  span {
    align-items: center;
    background-color: $blue;
    border-radius: 50%;
    display: inline-flex;
    height: 60px;
    justify-content: center;
    margin-left: -1px;
    margin-right: 18px;
    margin-top: -1px;
    transition: all 0.5s ease;
    width: 60px;

    .dark-theme & {
      background-color: $darkgrayHover;
    }

    .bx-no-touch .accessDetail__addLink:hover & {
      background-color: $darkgrayHover;
    }

    .bx-no-touch .dark-theme .accessDetail__addLink:hover {
      background-color: $blue;
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


.formBlock .styledSelect__control .dark-theme--is-focused {
  border: 1px solid $darkgrayHover;

  &:hover {
    border: 1px solid $darkgrayHover;
  }
}

.bg-gray {
  background-color: $light;
  color: $blueGrayLight;

  .dark-theme & {
    background-color: $dark-4;
  }
}

.overflow-auto-xs {
  overflow: auto;
}
