
.accesses__itemCol {
  align-items: center;
  color: $blueGrayLight;
  display: inline-flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  font-size: 13px;
  font-weight: 500;
  height: 82px;
  line-height: 24px;
  min-width: 157px;
  padding: 0 10px 0 17px;
  position: relative;
  transition: all 0.5s ease;
  width: 33%;
  @include breakpoint(sm) {
    padding: 0 32px;
    width: 228px;

    &:first-of-type {
      width: 40%;

      &::after {
        left: 32px;  
      }
    }

    &:last-of-type {
      width: calc(60% - 228px);

      &::after {
        right: 32px;  
      }
    }
  }
  @include breakpoint(md) {
    &:first-of-type {
      padding-left: 22px;
      width: calc(62% - 228px);

      &::after {
        left: 22px;  
      }
    }

    &:last-of-type {
      width: 38%;
    }
  }
  @include breakpoint(lg) {
    padding: 0 32px 0 62px;
    width: 318px;

    &:first-of-type {
      padding-left: 22px;
      width: calc(71% - 318px);
    }

    &:last-of-type {
      width: 29%;

      &::after {
        right: 14px;  
      }
    }
  }
}
