.accessDetail__item {
  box-shadow: none;
  display: flex;
  transition: all 0.5s ease;
  width: 100%;
  @include breakpoint(md) {
     &:not(.accessDetail__item--head):hover {
      border-radius: 15px;
      box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.5), -16px -2px 56px $white;
      overflow: hidden;
      position: relative;
      z-index: 1;

      & + .accessDetail__item .accessDetail__itemCol::after,
      .accessDetail__itemCol::after {
        display: none;
      }

      .accessDetail__itemCol--type {
        background-color: $blue;
        color: $white;

        a {
          color: $white; 
        }
      }

      .accessDetail__itemName,
      .accessDetail__itemSite {
        color: $grayHover;
      }
    }

     .dark-theme &:not(.accessDetail__item--head):hover {
      box-shadow: 5px 5px 10px $darkMedium;

      .accessDetail__itemCol,
      .accessDetail__itemDate,
      .accessDetail__itemName,
      .accessDetail__itemSite {
        color: $white;
      }

      .accessDetail__itemCol--type {
        background-color: $darkgrayHover;
      }
    }
  }

  &Inner {
    align-items: center;
    display: flex;
    width: 100%;
    word-break: break-all;

    a {
      color: $blue;
      text-decoration: none;
      transition: all 0.5s ease;

      .dark-theme & {
        color: $darkgrayHover;
      }
    }
  }
}
.display{
  display: none;
}