.accessDetail__itemCol {
  color: $blueGrayLight;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  padding: 17px 0 11px 20px;
  position: relative;
  transition: all 0.5s ease;
  @include breakpoint(md) {
    padding: 26px 0 20px 20px;
  }
  @include breakpoint(lg) {
    padding: 22px 0 31px 20px;
  }

  &::after {
    border-top: 1px solid $blueLight;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .dark-theme & {
      border-top: 1px solid $dark;
    }

    .accessDetail__item:first-of-type & {
      display: none;
    }
  }

  &:first-of-type {
    &::after {
      left: 17px;  
    }
  }

  &:last-of-type {
    &::after {
      right: 10px;  
    }
  }

  &--gray {
    background-color: $light;
    color: $blueGrayLight;

    .dark-theme & {
      background-color: #27272b;
      color: $blueGrayLight;
    }

    .accessDetail__item:first-of-type & {
      border-radius: 8px 8px 0 0;
    }

    .accessDetail__item:last-of-type & {
      border-radius: 0 0 8px 8px;
    }
  }

  &--type {
    border-radius: 15px 0 0 15px;
    font-size: 14px;
    min-width: 90px;
    padding-right: 10px;
    transition: all 0.5s ease;
    width: 12.2%;
    @include breakpoint(md) {
      width: 16%;
    }
    @include breakpoint(lg) {
      width: 15.7%; 
    }

    .accessDetail__itemInner {
      word-break: initial;
    }
  }

  &--host {
    min-width: 124px;
    width: 17%;
    @include breakpoint(md) {
      width: 20.8%;
    }
    @include breakpoint(lg) {
      width: 22.5%; 
    }

    .accessDetail__item:first-of-type & {
      border-radius: 8px 0 0;
    }

    .accessDetail__item:last-of-type & {
      border-radius: 0 0 0 8px;
    }
  }

  &--notice {
    width: calc(40.4% - 165px);
    @include breakpoint(md) {
      width: calc(36.9% - 159px);
    }
    @include breakpoint(lg) {
      width: calc(31.2% - 194px);
    }

    .accessDetail__itemInner {
      flex-wrap: wrap;
      word-break: initial;
    }

    .accessDetail__item:first-of-type & {
      border-radius: 0 8px 0 0;
    }

    .accessDetail__item:last-of-type & {
      border-radius: 0 0 8px;
    }
  }

  &--login {
    min-width: 99px;
    width: 13.5%;
    @include breakpoint(md) {
      width: 13.9%; 
    }
    @include breakpoint(lg) {
      width: 17.4%; 
    }
  }

  &--pass {
    min-width: 116px;
    width: 15.9%;
    @include breakpoint(md) { 
      min-width: 111px;
      padding-right: 10px;
      width: 12.4%;
    }
    @include breakpoint(lg) {
      width: 13.2%; 
    }
  }

  &--actions {
    padding-left: 26px;
    width: 165px;
    @include breakpoint(md) { 
      padding-left: 10px;
      width: 159px;
    }
    @include breakpoint(lg) {
      padding-left: 39px;
      width: 194px;
    }
  }

  &--head {
    align-items: center;
    color: $defaultColor;
    height: 50px;
    padding-bottom: 0;
    padding-top: 0;
    @include breakpoint(sm) {
      &[data-title-sm]::before {
        content: attr(data-title-sm);
      }
    }
    @include breakpoint(md) {
      height: 52px;

      &[data-title-md]::before {
        content: attr(data-title-md);
      }
    }
    @include breakpoint(lg) {
      padding: 0 0 0 20px;
    }

    .dark-theme & {
      color: $white;
    }

    &[data-title]::before {
      content: attr(data-title);
      white-space: nowrap;
    }
  }

  &--border {
    &::after {
      border-bottom: 1px solid $blue;
      border-top: 0;
      bottom: 0;
      content: '';
      display: block !important;
      left: 0;
      position: absolute;
      right: 0;

      .dark-theme & {
        border-bottom: 1px solid $darkgrayHover;
        border-top: 0;
      }
    }
  }
}
