.accessDetail {
  padding: 0 10px 55px;
  @include breakpoint(sm) {
    padding: 20px 0 71px;
  }
  @include breakpoint(md) {
    padding: 12px 0 88px;
  }

  &__top {
    &Row {
      margin-bottom: 20px;
      @include breakpoint(sm) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        padding-top: 11px;
      }
      @include breakpoint(md) {
        align-items: flex-start;
      }
    }
  }

  &__bottom {
    margin-top: 31px;
    @include breakpoint(sm) {
      margin-top: 13px;
    }
    @include breakpoint(md) {
      margin-top: 14px;
    }
  }

  &__card {
    border: 1px solid $blueLight;
    border-radius: 10px;
    margin: 0 -10px;
    max-width: 351px;
    padding: 36px 20px 41px;
    position: relative;
    z-index: 2;
    @include breakpoint(sm) {
      margin: 0 -1px;
      padding: 37px 29px 41px;
      width: 351px;
    }
    @include breakpoint(md) {
      margin: 0;
    }

    &Row {
      display: flex;
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &Caption {
      color: $defaultColor;
      font-size: 14px;
      line-height: 26px;
      padding: 2px 8px 2px 0;

      .dark-theme & {
        color: $white;
      }
    }

    &Value {
      background-color: $white;
      border-radius: 5px;
      color: $defaultColor;
      font-size: 14px;
      line-height: 26px;
      padding: 2px 8px 2px 9px;

      a {
        color: $blue;
        font-weight: 500;
        text-decoration: none;
      }
    }
  }

  &__add {
    margin-bottom: 18px;
    @include breakpoint(sm) {
      margin-bottom: 0;
    }

    &Link {
      align-items: center;
      background-color: $white;
      border: 1px solid $light-2;
      border-radius: 30px;
      box-shadow: none;
      color: $titleColor;
      cursor: pointer;
      display: flex;
      font-size: 13px;
      font-weight: 600;
      line-height: 18px;
      margin: 0;
      max-width: 300px;
      padding: 0;
      text-decoration: none;
      transition: all 0.3s ease;
      width: 100%;
      @include breakpoint(sm) {
        width: 300px;
      }
      @include breakpoint(md) {
        margin-left: 30px;
      }

      .dark-theme & {
        background-color: $dark-2;
        border: 1px solid $blueGray;
        color: $white;
      }

      span {
        align-items: center;
        background-color: $blue;
        border-radius: 50%;
        display: inline-flex;
        height: 50px;
        justify-content: center;
        margin-left: -1px;
        margin-right: 25px;
        margin-top: -1px;
        transition: all 0.5s ease;
        width: 50px;

        .dark-theme & {
          background-color: $darkgrayHover;
        }

         .accessDetail__addLink:hover & {
          background-color: $darkgrayHover;
        }

         .dark-theme .accessDetail__addLink:hover {
          background-color: $blue;
        }
      }
    }
  }

  &__form {
    max-width: 548px;
    position: relative;
    @include breakpoint(sm) {
      margin-left: 28px;
      width: calc(100% - 328px);
    }
    @include breakpoint(md) {
      margin-left: 35px;
      width: calc(100% - 360px);
    }
  }

  &__input {
    background-color: transparent;
    border: 1px solid $blueLight;
    border-radius: 7px;
    color: $titleColor;
    font-family: $secondary;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 16px;
    padding: 18px 50px 16px 16px;
    transition: all 0.3s ease;
    width: 100%;
    @include breakpoint(sm) {
      padding: 18px 50px 16px 24px;
    }

    .dark-theme & {
      background-color: $dark;
      border: 1px solid $darkgrayHover;
      color: $white;
    }

    &::placeholder {
      color: $blueGrayLight;
      opacity: 1;
      transition: all 0.3s ease;

      .dark-theme & {
        color: #a0aac6;
      }
    }

    &:focus::placeholder {
      opacity: 0;
    }
  }

  &__button {
    align-items: center;
    background-color: $white;
    border: 0;
    border-radius: 7px;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 0;
    position: absolute;
    right: 1px;
    top: 1px;
    transition: all 0.3s ease;
    width: 50px;

    svg {
      fill: $grayDark;
      flex-shrink: 0;
    }

    .dark-theme & {
      background-color: $dark;

      svg {
        fill: $darkgrayHover;
      }
    }
  }

  &__list {
    background-color: $white;
    border-bottom: 1px solid $light-2;
    border-top: 1px solid $light-2;
    margin: 0 -20px;
    overflow: auto;
    @include breakpoint(sm) {
      margin: 0 -40px; 
    }
    @include breakpoint(md) {
      border: 1px solid $light-2;
      border-radius: 10px;
      margin: 0;
      max-width: 1280px;
      overflow: visible;

      .dark-theme & {
        border: 1px solid $dark-2;
      }
    }

    .dark-theme & {
      background-color: $dark-2;
      border-bottom: 1px solid $dark-2;
      border-top: 1px solid $dark-2;
    }

    &Wrap {
      min-width: 768px;
      padding: 24px 0 22px;
      @include breakpoint(sm) {
        padding: 24px 19px;
      }
      @include breakpoint(md) {
        padding: 23px 24px;
      }
    }
  }



  &__icon {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
    margin-right: 18px;
    padding: 0;

    svg {
      display: block;
    }
  }

  .copyIcon {
    svg {
      fill: $grayDark;
    }
  }

  .likeIcon {
    &__filled {
      fill: $grayDark;
      transform: translate(0, 10px);
    }

    &__bordered {
      stroke: $grayDark;
      transform: translate(-4px, -9px);
    }

    &--liked {
      .likeIcon__filled {
        fill: #ffbfe6;
        transform: translate(0, 7px);
      }

      .likeIcon__bordered {
        stroke: #ffbfe6;
        transform: translate(0, -7px);
      }
    }

  }

  .editIcon {
    svg {
      fill: $grayDark;
    }
  }

  .deleteIcon {
    svg {
      fill: $blueLight;
    }
  }
}