.oftenUsed {
  margin: 0 -20px;
  position: relative;
  @include breakpoint(sm) {
    margin: 0 0 0 -4px;
    min-width: 100%;
  }
  @include breakpoint(md) {
    margin: 0;
    min-width: inherit;
    width: calc(100% - 351px);
  }

  &__wrap {
    padding: 0 16px;
    padding-bottom: 21px;
    position: relative;
    width: 610px;
    z-index: 1;
    @include breakpoint(sm) {
      padding: 0;
    }
    @include breakpoint(md) {
      width: auto;
    }
  }

  &__table {
    background-color: $white;
    border-radius: 15px;
    box-shadow: 16px 10px 48px rgba(136, 165, 191, 0.5), -16px -2px 56px $white;
    margin-bottom: 52px;
    margin-top: 19px;
    transition: all 0.5s ease;
    width: 671px;
    @include breakpoint(sm) {
      margin-bottom: 10px;
    }
    @include breakpoint(md) {
      margin-bottom: 0;
      margin-left: 15px;
      margin-top: 1px;
    }

    .dark-theme & {
      background-color: $dark-2;
      box-shadow: 5px 5px 10px $darkMedium;
    }

    &Row {
      box-shadow: none;
      display: flex;
      transition: all 0.5s ease;
      width: 100%;
    }

    &Col {
      color: $defaultColor;
      display: inline-flex;
      flex-shrink: 0;
      font-size: 13px;
      font-weight: 500;
      line-height: 18px;
      padding: 15px 10px 19px 19px;
      position: relative;
      transition: all 0.5s ease;

      .dark-theme & {
        color: $white;
      }

      &::after {
        border-bottom: 1px solid $blueLight;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        transition: all 0.5s ease;

        .dark-theme & {
          border-bottom: 1px solid $dark;
        }

        .oftenUsed__tableRow:first-of-type &,
        .oftenUsed__tableRow:last-of-type & {
          display: none;
        }
      }

      &:first-of-type {
        &::after {
          left: 17px;  
        }
      }

      &:last-of-type {
        &::after {
          right: 10px;  
        }
      }

      .oftenUsed__tableRow:first-of-type & {
        &:first-of-type {
          border-radius: 15px 0 0;
        }

        &:last-of-type {
          border-radius: 0 15px 0 0;
        }
      }

      .oftenUsed__tableRow:last-of-type & {
        &:last-of-type {
          border-radius: 0 0 15px;
        }

        &:first-of-type {
          border-radius: 0 0 0 15px;
        }
      }

      &--head {
        align-items: center;
        background-color: $blue;
        color: $white;
        height: 60px;
        padding-bottom: 0;
        padding-top: 3px;
        transition: all 0.5s ease;

        .dark-theme & {
          background-color: $darkgrayHover;
        }
      }

      &--gray {
        background-color: $light;
        color: $blueGrayLight;

        .dark-theme & {
          background-color: #27272b;
          color: $blueGrayLight;
        }
      }

      &--type {
        padding-left: 27px;
        width: 176px;

        .oftenUsed__tableColInner {
          word-break: initial;
        }
      }

      &--host {
        width: 190px;
      }

      &--login {
        width: 131px;
      }

      &--pass {
        padding-right: 60px;
        width: 174px;
      }

      &Inner {
        word-break: break-all;

        a {
          color: $blue;
          text-decoration: none;
        }

        span {
          display: none;
        }
      }
    }
  }

  .scrollbar-container {
    z-index: 1;
    @include breakpoint(sm) {
      overflow: visible !important;
    }
  }

  .ps__rail-x {
    border-radius: 5px;
    bottom: 31px !important;
    height: 3px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
    z-index: 2;
    @include breakpoint(sm) {
      display: none !important;
    }
  }

  .ps__thumb-x {
    background-color: $blue;
    border-radius: 5px;
    bottom: 0;
    height: 3px;

    .dark-theme & {
      background-color: #a0aac6;
    }
  }

  .ps:hover > .ps__rail-x,
  .ps--focus > .ps__rail-x,
  .ps--scrolling-x > .ps__rail-x {
    opacity: 1;
  }

  .ps--active-x > .ps__rail-x {
    background-color: $white;

    .dark-theme & {
      background-color: $black;
    }
  }

  .ps__rail-x:hover > .ps__thumb-x,
  .ps__rail-x:focus > .ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: $blue;
    height: 3px;

    .dark-theme & {
      background-color: #a0aac6;
    }
  }

  .copyIcon {
    margin-right: 0;
    margin-top: -12px;
    position: absolute;
    right: 25px;
    top: 50%;
  }
}