.supportCalendar {
  padding-top: 46px;
  .table-wrapper {
    padding: 0;
    @include breakpoint(md) {
      padding: 0 40px;
    }
  }
  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    margin-bottom: 20px;
    @include breakpoint(md) {
      padding: 0 35px;
    }

    &__date {
      color: $blueGrayLight;
      font-size: 11px;
      font-weight: 500;
      line-height: 18px;
      @include breakpoint(sm) {
        font-size: 14px;
        line-height: 26px;
      }

      .dark-theme & {
        color: $darkgrayHover;
      }

      .year {
        display: none;
        @include breakpoint(sm) {
          display: inline-block;
        }
      }
    }
  }

  &-change {
    align-items: center;
    color: $defaultColor;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    &__button {
      height: 22px;
      text-decoration: none;
      width: 10px;
    }

    .next {
      right: -10px;
      transform: rotate(180deg);
    }

    .prev {
      left: -10px;
    }

    .supportCalendar-header__date {
      color: $defaultColor;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin: 0 10px;

      .dark-theme & {
        color: $white;
      }
    }

    .year {
      color: $defaultColor;
      display: inline-block;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;

      .dark-theme & {
        color: $white;
      }
    }
  }
}

.calendarTable {
  position: relative;
  background-color: $white;
  border: 1px solid $light-2;
  border-radius: 0;
  border-spacing: inherit;
  font-size: 13px;
  line-height: 26px;
  padding: 13px 0;
  width: 100%;
  @include breakpoint(sm) {
    padding: 23px 0;
  }
  @include breakpoint(md) {
    border-radius: 10px;
    padding: 23px 20px;

  }

  thead {
    th:first-child {
      font-weight: 500;
      padding-left: 25px;
      text-align: start;
    }
    th {
      max-width: 80px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include breakpoint(md) {
        max-width: unset;
      }
    }
  }

  .itemDetail {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 180px;
    @include breakpoint(sm) {
      width: 200px;
    }
    @include breakpoint(md) {
      width: auto;
    }
    &__name {
      color: $defaultColor;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: none;
      white-space: nowrap;
      width: 102px;

      .dark-theme & {
        color: $white;
      }
    }
    &__task {
      color: $blueGrayLight;
      text-align: start;
      transition: none;
      span {
        transition: none;
      }
    }
    &__icon {
      align-items: center;
      border: 1px solid $blueLight;
      border-radius: 10px;
      display: flex;
      height: 35px;
      justify-content: center;
      width: 35px;
    }
  }

  tbody {
    tr:last-child {
      td:nth-child(2) {
        border-bottom-left-radius: 8px;
      }
      td:nth-child(5) {
        border-bottom-right-radius: 8px;
      }
    }
    tr:hover {
      .itemDetail__icon {
        border-color: $white;
        path {
          fill: $white;
        }
      }
    }
  }
}

.margin {
  margin-top: 24px;
  margin-bottom: 55px;
  @include breakpoint(sm) {
    margin-top: 14px;
  }
}