.breadCrumbs {
  padding: 13px 0 6px;
  width: 100%;
  @include breakpoint(sm) {
    padding: 17px 0;
    width: calc(100% - 235px);
  }

  &__list {
    box-orient: vertical;
    color: $headerColor;
    display: box;
    font-size: 10px;
    -webkit-line-clamp: 2;
    line-height: 16px;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    @include breakpoint(sm) {
      display: block;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .dark-theme & {
      color: $gray;
    }
  }

  &__item {
    display: inline;
    line-height: 14px;
    margin: 0;
    padding-right: 8px;
    position: relative;
    @include breakpoint(sm) {
      line-height: 16px;
      padding-right: 9px;
    }
  }

  &__link {
    color: $gray;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s;

    .dark-theme & {
      color: $darkgrayHover;
    }

    &--next {
      color: $darkgrayHover;
      font-size: 16px !important;
    }

    &--last {
      color: $headerColor;

      .dark-theme & {
        color: $gray;
      }
    }
  }
}
